body {
    margin: 0;
    background-color: #e2eafa;
}

.header {
    box-shadow: inset 0px 0px 6px 4px gray;
    background: white;
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 30px auto 40px;
}

button {
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 2px 2px black;
    margin-left: 10px;
}

button:hover {
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px 5px black;
}

a {
    text-decoration: none;
    padding: 5px;
    color: black;
}

.header h2 {
    color: black;
}

.main {
    width: 90%;
    margin: 0 auto;
}

.task {
    display: flex;
    flex-direction: column;

}

.column {
    text-align: center;
    padding: 10px 0px;
    margin-bottom: 10px;
    border: 2px solid gray;
    box-shadow: inset 0px 0px 5px 3px gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text {
    color: #6c4a0a;
}

.task form {
    margin: 10px 0;
    display: inline-block;
}

.task p {
    margin: 5px 0;
    color: #383838;
}

text. input {
    width: 90px;
}

h3 {
    margin: 0;
    color: #686868;
}

.create {
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.search {
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.create p {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-around;
}

.search p {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-around;
}

.create p textarea {
    height: 60px;
    padding: 5px 10px ;
    border-radius: 7px;
    color: #686868;
    font-size: 16px;
    margin-left: 3%;
}

.search p textarea {
    height: 60px;
    padding: 5px 10px ;
    border-radius: 7px;
    color: #686868;
    font-size: 16px;
    margin-left: 3%;
}

.create p > select {
    height: 25px;
    border-radius: 5px;
    width: 50%;
}